""" ----------- Text Rendering Options ---------
""" Keep 5 lines above and below the cursor
set scrolloff=5
""" Enable syntax highlighting
syntax enable

""" ---------- User Interface Options ----------
""" Show line numbers
set number
""" Show relative line numbers
set relativenumber

""" ---------- Search Options ----------
""" Enable search highlighting
set hlsearch
""" Ignore case when searching
set ignorecase
""" Incremental search that shows partial matches
set incsearch
""" Automatically switch search to case-sensitive when search query contains an uppercase letter
set smartcase

""" ---------- Miscellaneous Options -----------
""" Disable swap files
set noswapfile

""" ----------- Keybind options -----------
""" Remap ESC to jk in insert mode
imap jk <Esc>
""" Remap ESC to ö in insert mode
vmap ö <Esc>

""" ----------- Shortcuts -----------
""" Set leader key to space
let mapleader = " "
""" Clear search highlighting with space+h
map <leader>h :noh<CR>
""" Split windows
nnoremap <c-u> :action SplitVertically<CR>
nnoremap <c-i> :action SplitHorizontally<CR>
nnoremap <c-o> :action Unsplit<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>
""" Move between split windows with ctrl+direction
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
""" Move between tabs with (shift+)tab
nnoremap <s-TAB> :action PreviousTab<CR>
nnoremap <TAB> :action NextTab<CR>
""" Close current tab with space+q or all with space+qa
nnoremap <leader>q :action CloseContent<CR>
nnoremap <leader>qa :action CloseAllEditors<CR>
""" Open console with space+t
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>

""" ---------- System Clipboard ----------
""" Use system clipboard when using space+action
noremap <leader>y "+y
noremap <leader>yy "+yy
noremap <leader>p "+p
noremap <leader>P "+P
noremap <leader>d "+d
noremap <leader>dd "+dd

""" ---------- Plugins ----------
set NERDTree
""" Focus project tree with space+u
nnoremap <leader>u :NERDTreeFocus<CR>
set easymotion
map <leader>J <Plug>(easymotion-s)
map <leader>j <Plug>(easymotion-f)

""" ---------- IntelliJ Options ----------
""" Use smart line joining
set ideajoin
set showmode
